<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <title>MonkeyType</title>
    <link rel="stylesheet" href="/static/style2.css">
    
    
</head>
<body>
    <main>

        
        <div class="monkey"> </div>
        <div class="title"> <h1> MonkeyType </h1></div>

        <div class="container"> 
        
        <div class="frame">

                    <button id="newGameBtn"class="custom-btn btn-13">New Game</button>
                </div>
        
        <div id="header">
            <div id="info"></div>
            
        </div>
        <div id="game" tabindex="0">
            <div id="words"></div>
            <div id="cursor"></div>
            <div id="focus-error">Click here to focus</div>
        </div>
    </main>
    <script src="/static/script.js"></script>

</div>
    
</body>
</html>